/* styles go here */
.content-wrapper {
  margin-top: 50px;
}

.pets-wrapper {
  margin-top: 50px;
}

table {
  margin-top: 20px;
}

table th {
  text-align: center;
}

.inline-header {
  display: inline-block;
}

.pointer {
  cursor: pointer;
}
